/* fonts, cursors, behaviour etc */ 

@font-face {
  font-family: mainAppFont;
  src: url(../assets/ROCK.TTF)
}

.button-holder {
  text-align: center;
}

/* body */ 

/* homepage */ 

a {
  flex: 1 1 30%;
  height: 300px;
  text-transform: uppercase;
  font-size: xx-large;
  text-shadow: 50px, black;
  background-size: cover;
  margin: 10px;
  margin-bottom: -200px;
  padding-right: -20px;
  
}

body {
  font-family: mainAppFont;
  background-color: lightgray;
}

h1 {
  font-size: 50px;
  margin-bottom: 0px;
  margin-left: 15px;
}

h2 { 
  text-align: end;
  font-size: 27px;
  background-color: #a8a7bc;
  background-blend-mode: soft-light;
  padding-bottom: 8px;
  padding-top: 8px;
}

.submit-h2 {
  margin-bottom: 60px;
  text-align: end;
  font-size: 27px;
  background-color: #a8a7bc;
  background-blend-mode: soft-light;
  padding-bottom: 8px;
  padding-top: 8px;

}

.h4-success-message {
  background-color: none;
}
/* row of squares */ 

.all-squares {
  display: flex;
  flex-direction: column;
  width: 900px;
}
/* .square-container-1 {
  /* display: grid; */
  /* display: flex;
  flex-direction: row;
  grid: repeat(3, 12vw) / auto-flow;
} */ 


.row {
  display: flex;
  /* display: grid;
  grid: repeat(1, 12vw) / auto-flow; */
  height: 300px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 900px;
  align-content: flex-end;
  margin-top: 0px;
}


.square-1:hover,
.square-2:hover,
.square-3:hover,
.square-4:hover,
.square-5:hover,
.square-6:hover {
  cursor: pointer;
}


.row > .square-1,
.square-2,
.square-3,
.square-4,
.square-5,
.square-6 {
  flex: 1 1 30%;
  height: 300px;
  text-transform: uppercase;
  font-size: xx-large;
  text-shadow: 50px, black;
  background-size: cover;
}

.square-1 {
  margin: 10px;
  background-image: url(../assets/gow.jpg);
  /* width: 500px;
  height: 300px; */
  color: maroon;
}


.square-2 {
  margin: 10px;
  background-image: url(../assets/goodnightbritain.jpg);
  /* width: 500px;
  height: 300px; */
  color: maroon;
}


.square-3 {
  margin: 10px;
  background-image: url(../assets/medievalblack.png);
  /* width: 500px;
  height: 300px; */
  color: maroon;
}

/* .square-container-2 {
  /* display: grid; */
  /* display: flex; */
  /* flex-direction: column;
  /* grid: repeat(3, 12vw) / auto-flow; */
  /* margin-top: 300px; */ 
  /* height:500px;
  width: 1000px;
  margin-right: 4000px;  */
  /* flex-direction: row;
  height:300;
  align-items: flex-start;
} */


.square-4 {
  margin: 10px;
  background-image: url(../assets/nativeamerica2.jpg);
  /* width: 500px;
  height: 300px; */
  color: antiquewhite;
}


.square-5 {
  margin: 10px;
  background-image: url(../assets/punkplanet.png);
  /* width: 500px;
  height: 300px; */
  color: maroon;
}


.square-6 {
  margin: 10px;
  background-image: url(../assets/jerome2.png);
  /* width: 500px;
  height: 300px; */
  color: antiquewhite;
}


@media (orientation: portrait) {
  
  .container {
    transform: rotate(90deg) translate(35%);
  }
  
  .row > .square {
    transform: rotate(-90deg);
  }
}

.home-photo-container {
  display: flex;
  /* width: 600px; */
  height: 400px;
  width: 20px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;


}

.gif {
  height: 800px;
  width: 600px;
  float: left;
  margin-left: 1250px;
  justify-content: center;
  margin-top: 150px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.4s ease-in-out;
  margin-top: 240px;

}

.gif:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

/* footer */ 

footer {
  margin-top: 120px;
  text-align: center;
}

/* about page */ 

.about-h1 {
  text-transform: uppercase;
  color: maroon;
  text-align: end;
  font-size: 37px;
  background-color: #a8a7bc;
  background-blend-mode: soft-light;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-left: 0px;
}

.about-h1-login {
  text-transform: uppercase;
  color: maroon;
  text-align: end;
  font-size: 37px;
  background-color: #a8a7bc;
  background-blend-mode: soft-light;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-left: 0px;
  margin-bottom: 57px;
}

.about {
  font-size: 60px;
  color: rgb(183, 23, 23);

}


span {
  color: maroon;
}

.backdrop {
  position: absolute;
  z-index:1;
  width: 1300px;
  height: 1200px;
}

/* forms */ 

.Register {
  text-align: center;
  padding-bottom: 30px;
}

.form{
	max-width: 500px;
	padding: 10px 20px;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form fieldset{
	border: none;
}
.form legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.form label {
	display: block;
	margin-bottom: 8px;
}
.form input[type="text"],
.form input[type="date"],
.form input[type="password"],
.form input[type="email"],
.form input[type="number"],
.form input[type="search"],
.form input[type="time"],
.form input[type="url"],
.form textarea,
.form select {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: lightgray;
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	/* color:#8a97a0; */
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}
.form input[type="text"]:focus,
.form input[type="date"]:focus,
.form input[type="password"]:focus,
.form input[type="email"]:focus,
.form input[type="number"]:focus,
.form input[type="search"]:focus,
.form input[type="time"]:focus,
.form input[type="url"]:focus,
.form textarea:focus,
.form select:focus{
	background: #d2d9dd;
}
.form select{
	-webkit-appearance: menulist-button;
	height:35px;
}

.submissions-h2 {
  text-align: center;
  margin-top: 40px;
  background-color: lightgray;
  /* padding-bottom: 0px; */
  
}

.submissions-h1 {
  text-align: center;
}
.submission-container {
  display: flex;
  justify-content: center;
}

.submission-image {
  height: 900px;
  width: 800px;
  margin-bottom: 50px;
}

.login-h1 {
  text-align: center;
  background-color: lightgray;
}

button {
  background-color: black;
  color: white;
  height: 50px;
  width: 100px;
  
}

button:hover {
  cursor: pointer;
}