.squares-container {
  display: grid;
  grid: repeat(3, 12vw) / auto-flow;
}

.row {
  display: grid;
  grid: repeat(1, 12vw) / auto-flow;
}

.row > .square {
  margin: 10px;
  background: tomato;
}

@media (orientation: portrait) {
  
  .container {
    transform: rotate(90deg) translate(35%);
  }
  
  .row > .square {
    transform: rotate(-90deg);
  }
}