/* fonts, cursors, behaviour etc */ 

@font-face {
  font-family: mainAppFont;
  src: url(../assets/ROCK.TTF)
}

/* body */ 

body {
  font-family: mainAppFont;
  background-color: lightgray;
}

h2 { 
  text-align: end;
}
/* row of squares */ 

.all-squares {
  display: flex;
  flex-direction: column;
}
/* .square-container-1 {
  /* display: grid; */
  /* display: flex;
  flex-direction: row;
  grid: repeat(3, 12vw) / auto-flow;
} */ 

.row {
  display: flex;
  /* display: grid;
  grid: repeat(1, 12vw) / auto-flow; */
  height: 300px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 900px;
}

.row > .square-1,
.square-2,
.square-3,
.square-4,
.square-5,
.square-6 {
  flex: 1 1 30%;
  height: 300px;
  text-transform: uppercase;
  font-size: xx-large;
  text-shadow: 50px, black;
  background-size: cover;
}

.square-1 {
  margin: 10px;
  background-image: url(../assets/gow.jpg);
  /* width: 500px;
  height: 300px; */
  color: maroon;
}


.square-2 {
  margin: 10px;
  background-image: url(../assets/goodnightbritain.jpg);
  /* width: 500px;
  height: 300px; */
  color: maroon;
}


.square-3 {
  margin: 10px;
  background-image: url(../assets/medievalblack.png);
  /* width: 500px;
  height: 300px; */
  color: maroon;
}

/* .square-container-2 {
  /* display: grid; */
  /* display: flex; */
  /* flex-direction: column;
  /* grid: repeat(3, 12vw) / auto-flow; */
  /* margin-top: 300px; */ 
  /* height:500px;
  width: 1000px;
  margin-right: 4000px;  */
  /* flex-direction: row;
  height:300;
  align-items: flex-start;
} */


.square-4 {
  margin: 10px;
  background-image: url(../assets/nativeamerica2.jpg);
  /* width: 500px;
  height: 300px; */
  color: antiquewhite;
}


.square-5 {
  margin: 10px;
  background-image: url(../assets/punkplanet.png);
  /* width: 500px;
  height: 300px; */
  color: maroon;
}


.square-6 {
  margin: 10px;
  background-image: url(../assets/jerome2.png);
  /* width: 500px;
  height: 300px; */
  color: antiquewhite;
}


@media (orientation: portrait) {
  
  .container {
    transform: rotate(90deg) translate(35%);
  }
  
  .row > .square {
    transform: rotate(-90deg);
  }
}

/* footer */ 

footer {
  margin-top: 500px;
}