.nav-bar {
  display: flex;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 1000px;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  height: 100px;
  width: 480px;
  padding-left: 10px;
}

.plague-doctor {
  height: 88px;
  width: 80px

}

.footer {
  background-color: #a8a7bc;
  background-blend-mode: soft-light;
}

p.footer {
  font-weight: bolder;
  padding: 20px;
}