.nav-bar {
  display: flex;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin-left: 80px;
}

a {
  text-decoration: none;
  display: inline-block;
  color: firebrick;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.logo-container {
  display: flex;
}

img {
  height: 100px;
  width: 480px;
  padding-left: 10px;
}

.plague-doctor {
  height: 88px;
  width: 80px

}

.footer {
  background-color: #a8a7bc;
  background-blend-mode: soft-light;
}

p.footer {
  font-weight: bolder;
  padding: 20px;
}